<?xml version="1.0" encoding="utf-8" standalone="no"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.apkscanner.rescuetest"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-sdk android:minSdkVersion="21" android:targetSdkVersion="28" />

    <application
        android:allowBackup="false"
        android:debuggable="false"
        android:label="APKScanner RescueTest"
        android:theme="@android:style/Theme.Material.Light">

        <activity
            android:name=".EntryActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".VaultRelay"
            android:exported="false" />
    </application>
</manifest>
